.Dropdown{
	padding: 10px 8px 10px 14px;
	width: 15%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 15px;
}


/*@media (min-width: 965px) {
	.Dropdown{
		width: 15%;
	}

}*/

/*25% is a good size when at half the screen size*/