.MediaComponent{
	height: 250px;
	box-shadow: 2px 2px 10px gray;
	margin: auto;
	padding: 5px;
	position: relative;
}

.MediaComponent img{
	height: 200px;
	width: 200px;
	margin: auto;
	padding: 10px;
}

.MediaComponent div{
    background-color: gray;
    height: 15px;
    transform: rotate(-45deg);
    width: 15px;
    position: absolute;
    right: 20px;
}

.MediaComponent div:before,
.MediaComponent div:after {
  content: "";
  background-color: gray;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  width: 15px;
}

.MediaComponent div:before {
  top: -7px;
  left: 0;
}



/*//400 is a good size for the larger screen*/